/* style.css */

/* CSS에서 style 문서 불러오기 <- 쓰는 이유:내용을 줄이기 위해서*/
@import "./reset.css";
/* 웹 폰트: Crimson, Noto Sans KR */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans+KR:wght@400;500;700&display=swap");

/* 
font-family: 'Crimson Text', serif;
font-family: 'Noto Sans KR', sans-serif;
 */
/* root=html이라고 보기 / 변수가 전역적으로 선언됨 */
/* 변수 제목은 의미있게 알아서 설정 */
:root {
  --main-color: #0c2d83;
  --bg-color-light: #f5f5f5;
  --text-light: #666;
  --white: #fff;
  /* var(변수) < ()에 넣으면 됨 */
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  background-color: var(--white);
}
h1 {
  font-family: "Crimson Text", serif;
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}

a {
  color: #000;
}

p {
  line-height: 26px;
}
.container {
  max-width: 1440px; /*고정+가변 / 기본컨테이너는1440*/
  /* border: 2px solid black; */
  position: relative;
  margin: 0 auto;
  /* container 만들어서 넓이를 잡는데 용이  */
  /* 왜 80을 저기다 잡지 */
}
#main-header {
  height: 80px;
  background-color: #fff;
}
#main-header h1 {
  position: absolute;
  left: 20px;
  top: 20px;
}
#gnb {
  position: absolute;
  right: 97px;
  top: 28px;
  z-index: 10;
  /* gnb < 가 제일 z-index 높게 잡아야함  <- depth2 때문에 */
}

/* 1단계 메뉴 */
#gnb .depth1 {
  display: flex;
}
#gnb .depth1 > li {
  margin-left: 20px;
  /* border: 1px solid rebeccapurple; */
  width: 7em;
  text-align: center;
}
#gnb .depth1 > li > a {
  font-weight: 500;
  font-size: 18px;
}
/* 글자 색상바꾸기 */
#gnb .depth1 > li > a:hover {
  color: var(--main-color);
}

/* 2단계 메뉴 */
#gnb .depth2 {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin-top: 26px;
  display: none;
}
#gnb .depth2 > li {
  margin-bottom: 10px;
  text-align: left;
  /* center로 해도 됨  */
}
#gnb .depth2 > li:last-child {
  margin-bottom: 0;
  /* 너무 띄어져있어서(패딩+마진 마텀 합해서 커짐) 0 한거임 */
}

/* hover 액션 드롭다운 추가해보기*/

/* depth1 li에 마우스가 올라가면 depth2 보이기 */
#gnb .depth1 > li:hover .depth2 {
  display: block;
}
#gnb .depth2 > li > a:hover {
  text-decoration: underline;
}

#main-header #btn-toggle {
  position: absolute;
  right: 20px;
  top: 25px;
}

/* 사이트맵 팝업 */
#site-map-menu {
  position: fixed;
  width: 80%;
  height: 80vh;
  /* 포지션 중앙정렬 */
  left: calc(50%);
  top: calc(50%);
  /* 반만 땡김 */
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  z-index: 1000;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 4px 4px rgb (0, 0, #0c2d83);
}
#site-map-menu .container {
  position: relative;
  /* outline: 1px solid red; */
  height: 100%;
}
#site-map-menu .container #close {
  position: absolute;
  right: 0;
  /* 버튼의 테두리와 배경색을 없애는 속성*/
  background-color: transparent;
  border: none;
}

#site-map-menu #site-menu {
  /* outline: 1px solid #333; */
  padding-top: 75px;
}
#site-map-menu #site-menu .depth1 {
  display: flex;
  flex-wrap: wrap;
}
#site-map-menu #site-menu .depth1 > li {
  width: 33.3%;
  text-align: center;
  margin-bottom: 200px;
}

#site-map-menu .depth1 > li img {
  display: none;
}

/* 사이트맵 메뉴 비표시 상태  */
#site-map-menu {
  display: none;
}

/* 사이트맵 표시 상태 */
#site-map-menu.show {
  display: block;
}

/* 1단계 메뉴 텍스트(제목) */
#site-map-menu #site-menu .depth1 > li > a {
  font-weight: 700; /* bold */
  font-size: 20px;
}
#site-map-menu #site-menu .depth2 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  gap: 10px;
}

/* 메인배너 */
#main-banner {
  height: 480px;
  background-color: #000;
}
#main-banner > .container {
  height: 100%;
  background-image: url(../images/contents/main-banner1.jpg);
  display: flex;
  align-items: center;
}
#main-banner h1 {
  color: #fff;
  padding-left: 53px;
  font-size: 60px;
  font-weight: 400;
  /* normal=400, bold=700 */
}

/* Introduction */
#intro .container {
  padding: 50px 20px;
  /* outline: 1px solid black; */
}
#intro .container .intro-list {
  /* outline: 1px solid black; */
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#intro .container .intro-list li {
  /* outline: 1px solid red; */
  /*★★★ (너비 - 칼럼여백(칼럼수 - 1))/ 칼럼수  */
  width: calc((100% - 60px) / 4);
}
#intro .container .intro-list > li img {
  width: 100%;
  margin-bottom: 15px;
}

/* Intro 사진에 효과주기  */

#intro .container .intro-list li:hover img {
  transform: scale(1.1);
  transition: 1s;
}

/* Intro */
#intro .container > h1 {
  /* outline: 1px solid red; */
  margin-bottom: 20px;
}
#intro .container .intro-list h2 {
  margin-bottom: 10px;
}

/* Notice */

#notice {
  background-color: var(--bg-color-light);
}
#notice .container {
  padding: 50px 20px;
  /* outline: 1px solid black; */
}
#notice .container h1 {
  margin-bottom: 20px;
}

#notice .container .icons-list {
  /* outline: 1px solid black; */
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#notice .container .icons-list li {
  /* outline: 1px solid red; */
  border-width: 0px 1px 0px 0px;
  border-style: none dotted none none;
  border-color: none #ccc none none;
  /*★★★ (너비 - 칼럼여백(칼럼수 - 1))/ 칼럼수  */
  width: calc((100% - 40px) / 3);
  padding-top: 50px;
  padding-bottom: 50px;
}
#notice .container .icons-list .icon-group.li-3 {
  border: none;
}

#notice .container .icons-list .icon-group h3 {
  margin: 25px 0px 10px;
  /* 상, 좌우, 하 */
}
#notice .container .icons-list .icon-group .btn-more {
  font-size: 14px;
  color: #666;
  text-decoration: underline;
}

/* Sns-Banner */
#sns-banner .container {
  background-image: url(/images/contents/banner.jpg);
  height: 140px;
  color: #fff;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
  padding: 50px 20px;
}
#sns-banner .banner-title {
  position: absolute;
  left: 63px;
  top: 47px;
}
#sns-banner .banner-title h1 {
  margin-bottom: 5px;
  font-weight: 400;
}

#sns-banner .sns-icon-group {
  position: absolute;
  top: 56px;
  right: 67px;
}
#sns-banner .sns-icon-group a {
  margin-left: 24px;
}

/* Footer */

#main-footer {
  border-top: 1px solid #cccccc;
  margin-top: 90px;
}
#main-footer .container {
  height: 260px;
  padding: 50px 20px;
  display: flex;
  align-items: center;
}

#main-footer .footer-menu {
  margin-bottom: 20px;
}
#main-footer .footer-menu a {
  color: #444;
  font-size: 14px;
}

#main-footer address,
#main-footer .copy {
  font-style: normal;
  color: #666666;
  font-size: 14px;
}
